
@font-face {
  font-family: 'Stellar-Regular';
  src: url('Stellar-Regular.eot?#iefix') format('embedded-opentype'),  url('Stellar-Regular.otf')  format('opentype'),
	     url('Stellar-Regular.woff') format('woff'), url('Stellar-Regular.ttf')  format('truetype'), url('Stellar-Regular.svg#Stellar-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
